.main-content-container {
  width: 1575px;
  height: 960px;
  flex-shrink: 0;
  border-radius: 38px 0px 0px 0px;
  background-color: #f9f9f9;
}

.category-title {
  color: var(--black-01, #1f1f1f);
  font-family: Product Sans Medium;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category-content-container {
  width: 1495px;
  height: 816px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;

  /* Dark Shadow 02 */
  box-shadow: 0px 16px 31px 0px rgba(0, 0, 0, 0.01);
}

.details-container {
  display: flex;
  width: 1434.33px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  height: 174;
}

.category-content-title {
  color: var(--black-01, #1f1f1f);
  font-family: Product Sans Medium;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.information-containers {
  display: flex;
  justify-content: space-around;
  width: 1434px;
}

.details-text {
  color: var(--black-02, #6a7488);
  font-family: Product Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}

.first-and-last-name {
  width: 458.33px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
  display: flex;

  color: var(--black-01, #1f1f1f);
  font-family: Product Sans Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 30px;
  outline: 0;
}

.first-and-last-name:focus {
  border-radius: 10px;
  border: 5px solid;
  border-color: #2260ff;
  background: #f4f7ff;

  color: var(--black-01, #1f1f1f);
  font-family: Product Sans Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  width: 458.33px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
}

.tickets-dropdown {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #d3d3d3;
  font-family: Product Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
}

.dropdown-options {
  display: none;
  position: absolute;

  overflow: auto;
  width: 458.33px;
  height: 60px;
  flex-shrink: 0;
  color: var(--black-01, #1f1f1f);
  font-family: Product Sans Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-options {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  
    width: 458.33px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--blue-01, #2260ff);
    background: #f4f7ff;
  }

.arrow-down {
  width: 8.75px;
  height: 17.5px;

  flex-shrink: 0;
  stroke-width: 2.5px;
  stroke: var(--black-01, #1f1f1f);
  margin-top: 26px;
  margin-right: 30.8px;
  margin-bottom: 25.3px;
}
